* {
    margin: 0px;
    padding: 0px;
    font-family: 'Balthazar', ;
}

html,
body {
    width: 100%;
    height: 100%;
}

canvas {
    display: block;
}

.instructions {
    background-color: rgba(0, 0, 0, 0.4);
    width: 80%;
    position: absolute;
    left: 10%;
    top: 35%;
    border-radius: 15px;
    padding: 25px;
    p {
        margin-left: 150px;
        font-weight: bold;
        font-size: 1.8em;
    }
    ul {
        width: 80%;
        margin: auto;
    }
    li {
        box-sizing: border-box;
        padding-left: 50px;
        padding-right: 50px;
        list-style-type: none;
        line-height: 60px;
        border-bottom: 1px solid gray;
        p {
            margin-left: unset;
            display: inline;
            font-weight: bold;
            font-size: 1.5em;
        }
        img {
            float: right;
            margin-top: 5px;
            height: 55px;
        }
    }
    li[id=placeholder] {
        height: 80px;
        border-bottom: 0px;
        div {
            margin-top: 10px;
            display: inline-block;
            width: 50px;
            height: 50px;
            background-image: url("../../assets/img/sound1Button.png");
            background-size: cover;
            background-position: center;
        }
        div[id=offSound] {
            background-image: url("../../assets/img/noSound1Button.png");
        }
    }
}